{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}


<!--
<div class="loader-moving">
    <span class="left"></span>
    <span class="right"></span>
</div>
-->

    
    <div class='container'>
        <div class='row'>
            {% for class in classes %}
            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <img src="https://www.beautycolorcode.com/f9423a-320x320-color.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ class.title }}</h5>
                        <p class="card-text">게시판으로 이어집니다.</p>
                        <a href="{% url 'classes:main' class.pk %}" class="btn btn-warning">Go!</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    

        {% if user.is_authenticated %}
        <div class='btn-container'>
            <form action="{% url 'classes:new_class' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{ major_id }}" name="major_id">
                <input type="submit" class="btn btn-warning" value="수업 추가">
            </form>
        </div>
        {% endif %}
        <br>
        <br>
    
        <button type="button" onclick="topFunction()" class="scrollBtn" id="myBtn">Top</button>

{% endblock %}