{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<!--
<div class="loader-moving">
    <span class="left"></span>
    <span class="right"></span>
</div>
-->

    {% for class in classes %}

        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ class.title }}</h5>
                <p class="card-text">ajfiedfksznksghv;hrszfdkkhnjkslebvkcnkds게시판으로 이어집니다.</p>
                <a href="#" class="btn btn-primary">Go!</a>
            </div>
        </div>
        <br>
        <br>

    {% endfor %}

        <div>
            <button type="button" class="btn"></button>
            <a href="{% url 'classes:new' %}" class="btn btn-danger">수업 추가</a>
        </div>
        <br>
        <br>
    


{% endblock %}