/*제목*/    @font-face { font-family: 'yg-jalnan'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); font-weight: normal; font-style: normal; }
/*중간글씨*/@font-face { font-family: 'locus_sangsang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/locus_sangsang.woff') format('woff'); font-weight: normal; font-style: normal; }
/*일반글씨*/@font-face { font-family: 'NanumSquareRound'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); font-weight: normal; font-style: normal; }

/*
    색깔팔레트
검정: #000000 rgb(0,0,0)
다홍: #F9423A rgb(249,66,58)
개나리: #FF9E1B rgb(255,158,27)
베이지: #EFDBB2 rbg(239, 219, 178)
*/

body {
    background-color: rgb(239, 219, 178) !important;  
}

.body_title {
    font-family: 'locus_sangsang';
    font-size: 48px;
    text-align: center;
}

.body_content {
    font-family: 'NanumSquareRound';
    font-size: 16px;
    text-align: center;
}

/* login.html
.login {
    font-family: 'NanumSquareRound';
    text-align: center;
}
#id_login {
    width: 410px;
    height: 40px;
    border-radius: 5px;
    border-width: 0px;
}
#id_password {
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border-width: 0px;
}
 */

/* signup.html */
.form_bundle label{
    display: inline-block;
    text-align: right;
    width: 410px;
    height: 40px;
    border-radius: 5px;
    border-width: 0px;
}
/*
#id_username {
    width: 410px;
    height: 40px;
    border-radius: 5px;
    border-width: 0px;
}
#id_email {
    width: 410px;
    height: 40px;
    border-radius: 5px;
    border-width: 0px;
}
#id_password1 {
    width: 410px;
    height: 40px;
    border-radius: 5px;
    border-width: 0px;
}
#id_password2 {
    width: 410px;
    height: 40px;
    border-radius: 5px;
    border-width: 0px;
}
*/

/*로그인, 로그아웃, 회원가입 버튼 양식*/
.primaryAction {
    font-family: 'locus_sangsang';
    background-color: #F9423A;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border-width: 0px;
    box-shadow: none;
}
/* 로그아웃 버튼 */
.logout_btn {
    text-align: center;
}

/*카피라이트 footer*/
.copyright{
    text-align: center;
    font-family: 'NanumSquareRound';
    font-size: 10px;
    margin-top: 300px;
}

/*navbar*/
.navbar-brand{
    font-family: 'yg-jalnan';
}

.nav-item{
    font-family: 'NanumSquareRound';
}

.navbar-expand-lg{
    background-color: #FF9E1B;
}


/*text logo*/
.logo{
    font-family: 'yg-jalnan';
}

/* 학과 목록에서 쓸 버튼 */
.border5 {
    border-radius: 3px;
    background-color: white;
    color: black;
    border: 2px solid #555555;
}





/* main.html */
.container{
    display: flex;
    background-color: blue;
}

.college{
    width: 200px;
    background-color: black;
}