{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <h1 class="content-name-htj">글 작성하기</h1>
    <form class="form-horizontal" action="{% url 'classes:update' post.pk %}" method="POST">
            {% csrf_token %} <br>
        </br>
        <div class="form-group">
            <label class="col-sm-1 control-label">카테고리</label>
            <div class="col-xs-2">
                    <select class="form-control" name="category">
                            {% ifequal post.category '시험정보공유' %}
                                <option value ="시험정보공유" selected="selected">시험정보공유</option>
                                <option value = "과제공지">과제공지</option>
                                  <option value = "질문">질문</option>
                                  <option value = "잡담">잡담</option>
                            {% endifequal %}
                            {% ifequal post.category '과제공지' %}
                            <option value ="시험정보공유">시험정보공유</option>
                            <option value = "과제공지" selected="selected">과제공지</option>
                              <option value = "질문">질문</option>
                              <option value = "잡담">잡담</option>
                            {% endifequal %}
                            {% ifequal post.category '질문' %}
                            <option value ="시험정보공유">시험정보공유</option>
                            <option value = "과제공지">과제공지</option>
                              <option value = "질문" selected="selected">질문</option>
                              <option value = "잡담">잡담</option>
                            {% endifequal %}
                            {% ifequal post.category '잡담' %}
                            <option value ="시험정보공유">시험정보공유</option>
                            <option value = "과제공지">과제공지</option>
                              <option value = "질문">질문</option>
                              <option value = "잡담" selected="selected">잡담</option>
                            {% endifequal %}
                    </select>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="input1" class="col-sm-1 control-label">글제목</label>
            <div class="col-xs-3">
                <input type="name" class="form-control" id="input1" placeholder="title" name="title" value="{{ post.title }}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="input2" class="col-sm-1 control-label">내용</label>
            <div class="col-xs-5">
                <textarea class="form-control" rows="6" name="content" placeholder="content" required>{{ post.content|linebreaks }}</textarea>
            </div>
        </div>
        
        <div class="form-group">
            <div>
                <input type="hidden" value="{{ class_id }}" name="class_id">
                <button type="submit" class="btn btn-outline-secondary">수정하기</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}