{% extends 'base.html' %}
    
{% block content %}
<div class="container">
        <h1 class="col-12" style="font-family: 'NanumSquareRound';">{{ class_name.title }}</h1>
    <br>
    <div class="row">
        <!--테이블 위 버튼셋-->
        <form action="#">
            <div class="input-group col-12">     
                <input type="text" class="form-control" placeholder="검색어" name="search">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary">
                        검색
                    </button>
                </div>
            </div>
        </form>
    </div>

    <br>
    
#여기에 교재랑 스터디 모집 고정 글 
    <table class="table table-bordered">

    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th width="8%">글번호</th>
                <th width="12%">카테고리</th>
                <th width="35%">제목</th>
                <th width="12%">작성자</th>
                <th width="20%">게시일</th>
                <th width="12%">조회수</th>
            </tr>
        </thead>
        <tbody>
        <!--django 데이터--->
        {% for post in posts %}
        <tr>
            <td>{{ post.id }}</td>
            <td>{{ post.category }}</td>
            <td><a href="#">{{ post.title }}</a></td>
            <td>{{ post.writer }}</td>
            <td>{{ post.created_at }}</td>
            <td>{{ post.view_count }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<button type="button" onclick="topFunction()" class="scrollBtn" id="myBtn">Top</button>

{% endblock %}