{% extends 'base.html' %}
    
{% block content %}
<div class="container">
        <h1 class="classtitle col-12" style="font-family: 'NanumSquareRound';">{{ class_name.title }}</h1>
    <br>
    <div class="row">
        <!--테이블 위 버튼셋-->
        <div class="input-group col">
            <form action="{% url 'classes:new' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{ class_id }}" name="class_id">
                <input type="submit" class="btn-outline-secondary btn" value="새 글 작성하기" style="font-family: 'locus_sangsang';">
            </form>
        </div>
        <form action="{% url 'classes:search' %}">
            <div class="input-group col-12"> 
                <input type="text" class="form-control" placeholder="검색어" name="search" style="font-family: 'NanumSquareRound';">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary" style="font-family: 'locus_sangsang';">
                        검색
                    </button>
                </div>
            </div>
        </form>
    </div>

    <br>
    
    <div class="alert alert-dark" style="font-family: 'NanumSquareRound';">교재 제본 or 스터디 모집하실 분은 다음 폼을 작성해주시길 바랍니다. <a href="https://forms.gle/Yy6Y2GbMtALKD98z7">https://forms.gle/Yy6Y2GbMtALKD98z7</a><br>
    운영진이 폼을 확인 후 신청자 모집 게시글을 공지사항에 업로드하겠습니다.</span>
    </div>

            
        
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th width="8%" style="font-family: 'NanumSquareRound';">글번호</th>
                <th width="12%" style="font-family: 'NanumSquareRound';">카테고리</th>
                <th width="35%" style="font-family: 'NanumSquareRound';">제목</th>
                <th width="12%" style="font-family: 'NanumSquareRound';">작성자</th>
                <th width="20%" style="font-family: 'NanumSquareRound';">게시일</th>
                <th width="12%" style="font-family: 'NanumSquareRound';">조회수</th>
            </tr>
        </thead>
        <tbody>
        <!--django 데이터--->
        {% for post in posts %}
        <tr>
            <td>{{ post.id }}</td>
            <td>{{ post.category }}</td>
            <td><a href="{% url 'classes:show' post.pk %}">{{ post.title }}</a></td>
            <td>{{ post.user }}</td>
            <td>{{ post.created_at }}</td>
            <td>{{ post.view_count }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<button type="button" onclick="topFunction()" class="scrollBtn" id="myBtn">Top</button>

<br>
<br>

{% endblock %}