{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <h1 class="content-name-htj" style="font-family: 'NanumSquareRound';">새로운 수업 게시판 만들기</h1>
    <form class="form-horizontal" action="{% url 'classes:create_class' %}" method="POST">
            {% csrf_token %} <br>
        </br>
        <div class="form-group">
            <label for="input1" class="col-sm-1 control-label" style="font-family: 'NanumSquareRound';">수업명</label>
            <div class="col-xs-3">
                <input type="name" class="form-control" id="input1" placeholder="title" name="title" required>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-1">
                <input type="hidden" value="{{ major_id }}" name="major_id">
                <button type="submit" class="btn btn-outline-secondary btntj" style="font-family: 'NanumSquareRound'; width: 200px;">게시판 만들기</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}