{% extends 'base.html' %}

{% block content %}
<div class="container">
   <h1>{{ post.title }}</h1>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>작 성 자 : </th>
                <td>{{ post.user }}</td>
                 <th>말 머 리 : </th>
                <td>{{ post.category }}</td>
            </tr>
            
            <tr>
                <div class="col-12">
                <td colspan="12" style="text-align:left">{{ post.content|linebreaks }}</td>    
                </div>
            </tr>   
        </tbody>
</table>

{% if user in post.likes.all %}
    <a href="{% url 'classes:like_toggle' post.id %}" class="btn btn-primary">좋아요 취소 [{{ post.likes.count }}]</a>
{% else %}
    <a href="{% url 'classes:like_toggle' post.id %}" class="btn btn-primary">좋아요 [{{ post.likes.count }}]</a>
{% endif %}
<div>
    {% if user == post.user %}
    <div>
        <a class="btn btn-secondary" href="{% url 'classes:edit' post.pk %}">수정</a>
        <form action="{% url 'classes:delete' post.pk %}" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{ class_id }}" name="class_id">
            <input type="submit" class="btn btn-primary" value="삭제">
        </form>
    </div> 
    {% endif %}
</div>

<p>댓글 수 : {{ post.comments.count }}개</p>
{% for comment in post.comments.all %}
    <p>{{ comment.user }} : {{ comment.message }}</p>
    <form action="{% url 'classes:delete_comment' comment.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="댓글삭제">
    </form>
{% endfor %}

<form action="{% url 'classes:create_comment' post.id %}" method="POST">
        {% csrf_token %}
        <label>댓글 내용</label><br>
        <textarea name="message" required></textarea><br>
        
        <input type="submit" value="댓글쓰기">
</form>

<form action="#" method="POST">
    {% csrf_token %}
    <input type="submit" class="btn btn-secondary" value="목록으로 돌아가기">
</form>
</div>


{% endblock %}